#############################
# 1. Secrets (CRITICAL)
#############################
secrets/
*.json              
.env
.env.*
profiles.yml

#############################
# 2. Airflow Files
#############################
logs/              
airflow.db
airflow.cfg
airflow*.pid

#############################
# 3. Python Files
#############################
__pycache__/
*.pyc
.venv/
venv/
env/
.python-version
.pytest_cache/

#############################
# 4. dbt Files
#############################
# Ignore compiled files for ANY dbt project
dbt/**/target/
dbt/**/logs/

#############################
# 5. Docker + system files
#############################
*.pid
*.lock

#############################
# 6. OS and Editor Files
#############################
.DS_Store
*.swp